body, html {
  font-family: "Lucida Console", Monaco, monospace;
  background-color: gray;
  height: 100%;
  margin: 0;
  color: #000;
  background-image: url(pictures/sunsetbeach.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navtext {
  color: white;
}

.leftmini {
  background: #DDDDDD;
  opacity: 0.5;
  height: 50%;
  width: 50%;
  margin: 23% 5%;
}

.leftmain {
  width: 90%;
  height: 70%;
  background: white;
  opacity: 0.9;
  margin: 10% 5%;
}

.rightmini {
  background: #DDDDDD;
  float: right;
  opacity: 0.5;
  height: 50%;
  width: 50%;
  margin: 23% 5% 23% 0%;
}

.rightmain {
  background: white;
  opacity: 0.8;
  width: 90%;
  height: 70%;
  float: right;
  margin: 15% 5%;
}

.vertical-align {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.studmuffin {
  height: 80%;
}